.container {
  display: inline-block;
}
.fa-bars {
  color: black;
  font-size: 2em;
}
.side {
  width: 70%;
  padding: 50px;
  display: none;
  transition-duration: 3s;
}
a {
  text-decoration: none;
  display: block;
  color: black;
  font-size: 20px;
}

.animate aide:hover {
  width: 500px;
}
.animate aside {
  width: 100%;
  height: 700px;
  background: lightgrey;
  -webkit-transition: width 2s;

  transition: width 2s;
}
