* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(./image/a.jpg);
  width: 100%;
}
input {
  width: 50%;
  height: 3em;
  background-color: white;
  opacity: 0.5;
  margin-bottom: 6em;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  position: relative;
  width: 50%;
  margin-top: 4px;

  background: gray;
  opacity: 0.5;
  font-size: 18px;
  transition: 0.2s;
}
#DIV {
  margin-left: 30em;
}
